.network_wraper {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 78px;
    padding-bottom: 36px;
}
.network_wraper__map {
    background-image: url('../img/map.svg');
    height: 538px;
    width: 1060px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 96px auto 36px auto;
}