.promo_cards{
    background-color: white;
    border-radius: 10px;
    height: 200px;
    box-shadow: 0 42px 114px rgba(13,16,37,0.06);
    margin-top: 47px;
    margin-bottom: 96px;
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;*/
    display: grid;
    grid-template-columns: 32% 2% 32% 2% 32%;
    align-items: center;
}
.promo_facts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.promo_facts_img{
    height: 55px;
    width: 55px;
    margin-right: 36px;
}
.promo_img__users {
    background-image: url('../icons/user.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.promo_img__location {
    background-image: url('../icons/location.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.promo_img__servers {
    background-image: url('../icons/Server.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.promo_facts__text {
    display: flex;
    flex-direction: column;
}
.promo_facts__text__count {
    font-size: 25px;
    color: var(--dark__blue);
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 5px;
}
.promo_facts__text__units {
    font-size: 20px;
    color: var(--dark__gray);
    font-weight: 400;
    line-height: 30px;
}
.promo_border {
    height: 128px;
    width: 2px;
    border-radius: 2px;
    background-color: var(--light__gray);
    margin-left: auto;
    margin-right: auto;
}