.wraper_customers {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 180px;
}
.wraper_customers__h1 {
  width: 450px;
  text-align: center;
  margin: 0 auto;
}
.wraper_customers__p {
  width: 500px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--dark__gray);
  margin: 20px auto 60px auto;
  text-align: center;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.wraper_container {
  margin: 30px 30px auto 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_top {
  width: 340px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    
}
.wraper_person {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wraper_person__img {
  height: 50px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
.avatar1_img {
  background-image: url('../img/avatar1.png');
}
.avatar2_img {
  background-image: url('../img/avatar2.png');
}
.avatar3_img {
  background-image: url('../img/avatar3.png');
}
.wraper_person__name {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.wraper_person__firstname__p {
  font-size: 18px;
  color: var(--dark__blue);
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 5px;
}
.wraper_person__secondname__p {
  font-size: 14px;
  color: var(--dark__gray);
  text-decoration: none;
  font-weight: 400;
  margin-bottom: 5px;
}
.wpaper_rate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wpaper_rate__p {
  font-size: 16px;
  color: var(--dark__blue);
  text-decoration: none;
  font-weight: 400;
  margin-right: 10px;
}
.wpaper_rate__icon {
  background-image: url('../icons/star.svg');
  height: 16px;
  width: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}
.container_bottom {
  width: 340px;
  margin-top: 20px;
}
.wraper_desc {
  font-size: 16px;
  color: var(--dark__blue);
  text-decoration: none;
  font-weight: 400;
  margin-right: 10px;
  line-height: 28px;
}
#cards-container {
  overflow: hidden;
  /*margin: 20px;*/
  }
  .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 99999px;
}
.card {
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 400px;
  height: 230px;
  border-radius: 10px;
  border: var(--border__gray) 2px solid;
  margin: 60px 50px 60px 0px;
}
.card:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 80px rgba(13,16,37,0.06);
  border: var(--red__color) 2px solid;
  cursor: pointer;
}
.card .img {
  max-width: 220px;
  height: 220px;
  display: inline-block;
}
.wrapper_sliders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper_sliders__pages {
  width: 135px; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sliders__page_selected {
  height: 15px;
  width: 45px;
  background-color: var(--red__color);
  border-radius: 10px;
}
.sliders__page_notselected {
  height: 15px;
  width: 15px;
  background-color: var(--pag__gray);
  border-radius: 10px;
}
.wrapper_sliders__arrows {
  display: flex;
  width: 140px;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
  margin: 0 0 0 auto;
}
.slide-left1 {
  background-image: url('../icons/left.svg');
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-left1:hover {
  background-image: url('../icons/left_hover.svg');
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-right1 {
  background-image: url('../icons/right1.svg');
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide-right1:hover {
  background-image: url('../icons/right_hover.svg');
  height: 60px;
  width: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}

#slide-left-container1.active,
#slide-right-container1.active {
  display: block;
  cursor: pointer;
}
  
